section.places {
    padding: 20px;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}

article.place {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
}

article.place h2 {
    font-size: 30px;
    text-align: center;
}